<!DOCTYPE html>
<html lang="en" xmlns:th=”http://www.thymeleaf.org”>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello word</h1>

<table cellpadding="0" cellspacing="0" border="1" width="300px">
    <tr align="center">
        <td>姓名</td>
        <td>性别</td>
        <td>电话</td>
    </tr>
    <tr th:each="students:${student}" align="center">
        <td th:text="${students.studentName}"></td>
        <td th:text="${students.sex}"></td>
        <td th:text="${students.phone}"></td>
    </tr>
</table>

</body>
</html>